<%= page_header(t('.header')) %>

<div class="row">
  <div class="col-md-3 text-center">
    <div class="user_profile_picture">
      <%= image_tag 'user.png' %> 
    </div>
  </div>
  <div class="col-md-9">
    <%= tag.h3 @user.full_name %>
    <%= tag.h5 @user.email, class: "text-muted" %>
  </div>

  <div class="col-md-12 mt-5"><%= tag.h3 t('.badges') %></div>
  <div class="col-md-12 mt-5">
    <%= render 'users/badge' %>
  </div>
</div>
