<%= form_with url: test_passage_path(@test_passage), local: true, method: :put do |form| %>
  <%= form.collection_check_boxes :answer_ids, @test_passage.current_question.answers, :id, :body, include_hidden: false do |b| %>
    <div class="form-check">
      <label class="form-check-label">
        <%= b.check_box id: "answer_ids_#{b.object.id}", class: "form-check-input" %>
        <%= b.label %>
      </label>
    </div>
  <% end %>
  <div class="form-input">
    <%= form.submit t('.next'), class: "btn light-button btn-sm" %>
  </div>
<% end %>
