<h1><%= t('.header') %> "<%= @test_passage.test.title %>"</h1>
<table>
  <tr>
    <th style="text-align: left"><%= t('.right_answers') %></th>
    <td><%= @test_passage.result_percent %>%</td>
  </tr>
  <tr>
    <th style="text-align: left"><%= t('.result') %></th>
    <td><%= test_passage_result(@test_passage) %></td>
  </tr>
</table>

<%= link_to t('.all_tests'), tests_path %>
