<%= page_header(t('.header', test_title: @test_passage.test.title)) %>
<div class="col-md-12">
<table class="table">
  <tr>
    <th style="text-align: left"><%= t('.right_answers') %></th>
    <td><%= @test_passage.result_percent %>%</td>
  </tr>
  <tr>
    <th style="text-align: left"><%= t('.result') %></th>
    <td><%= test_passage_result(@test_passage) %></td>
  </tr>
</table>
</div>
<%= link_to t('.all_tests'), tests_path %>
