<tr>
  <td><%= answer.body %></td>
  <td style="text-align: center"><%= answer.correct %></td>
  <td style="text-align: center"><%= answer.sort %></td>
  <td><%= link_to 'Просмотр', answer_path(answer) %></td>
  <td><%= link_to 'Редактировать', edit_answer_path(answer) %></td>
  <td><%= link_to 'Удалить', answer_path(answer), method: :delete %></td>
</tr>
