<tr>
  <td><%= link_to answer.body, admin_answer_path(answer) %></td>
  <td style="text-align: center"><%= answer.correct %></td>
  <td style="text-align: center"><%= answer.sort %></td>
  <td class="text-center"><%= link_to 'Редактировать', edit_admin_answer_path(answer) %></td>
  <td class="text-center"><%= link_to 'Удалить', admin_answer_path(answer), method: :delete %></td>
</tr>
