<%= page_header(t('.header')) %>

<div class="row justify-content-center">
  <div class="col-md-4">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-group">
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control form-control-sm", placeholder: t('.placeholder_email') %>
      </div>

      <div class="form-group">
        <%= f.label :password %>
        <%= f.password_field :password, autocomplete: "off", class: "form-control form-control-sm" %>
      </div>

      <% if devise_mapping.rememberable? -%>
        <div class="form-check">
          <%= f.check_box :remember_me, class: "form-check-input" %>
          <%= f.label :remember_me, class: "form-check-label" %>
        </div>
      <% end %>

      <div class="form-group text-center mt-3">
        <%= f.submit t('.sign_in'), class: "btn light-button" %>
      </div>
    <% end %>
    <%= render "devise/shared/links" %>
  </div>
</div>
