<tr sortable-element>
  <td sort-by="category"><%= test.category.title %></td>
  <td sort-by="title">
    <%= link_to test.title, admin_test_path(test), class: 'test-title', data: { test_id: test.id } %>
    <%= render 'form_inline', test: test == @test ? @test : test %>
  </td>
  <td class="text-center" sort-by="level"><%= test.level %></td>
  <td sort-by="questions-count" style="text-align: center"><%= test.questions.count %></td>
  <td class="text-center">
    <%= link_to t('.edit_inline'), '#', data: { test_id: test.id }, class: 'form-inline-link' %>
  </td>
  <td class="text-center"><%= link_to t('.edit'), edit_admin_test_path(test) %></td>
  <td class="text-center"><%= link_to t('.delete'), admin_test_path(test), method: :delete %></td>
</tr>
