<%= page_header(t('.header')) %>
<table>
  <tr>
    <th><%= t('.category') %></th>
    <th><%= t('.title') %></th>
    <th><%= t('.level') %></th>
    <th><%= t('.quantity_of_questions') %></th>
    <th colspan="3"><%= t('.actions') %></th>
  </tr>
  <%= render @tests %>
</table>
<br>
<%= link_to  t('.new_test'), new_admin_test_path %>
