<%= page_header(t('.header')) %>
<%= render 'shared/errors', resource: @test %>
<table class="table table-hover table-bordered small">
  <thead>
  <tr class="text-center">
    <th><%= t('.category') %>
      <i sort-button sort-by="category" sort-type="asc" class="fas fa-sort-alpha-up" role="button"></i>
      <i sort-button sort-by="category" sort-type="desc" class="hidden fas fa-sort-alpha-down" role="button"></i>
    </th>
    <th><%= t('.title') %>
      <i sort-button sort-by="title" sort-type="asc" class="fas fa-sort-alpha-up" role="button"></i>
      <i sort-button sort-by="title" sort-type="desc" class="hidden fas fa-sort-alpha-down" role="button"></i>
    </th>
    <th><%= t('.level') %>
      <i sort-button sort-by="level" sort-type="asc" class="fas fa-sort-numeric-up" role="button"></i>
      <i sort-button sort-by="level" sort-type="desc" class="hidden fas fa-sort-numeric-down" role="button"></i>
    </th>
    <th><%= t('.quantity_of_questions') %>
      <i sort-button sort-by="questions-count" sort-type="asc" class="fas fa-sort-numeric-up" role="button"></i>
      <i sort-button sort-by="questions-count" sort-type="desc" class="hidden fas fa-sort-numeric-down" role="button"></i>
    </th>
    <th colspan="3"><%= t('.actions') %></th>
  </tr>
  </thead>
  <tbody id="test-admin-table-container">
  <%= render @tests %>
  </tbody>
</table>
<br>
<%= link_to  t('.new_test'), new_admin_test_path %>
