<h3><%= t('.title') %>: <%= @test.title %></h3>
<h3><%= t('.category') %>: <%= @test.category.title %></h3>
<h3><%= t('.level') %>: <%= @test.level %></h3>
<h3><%= t('.authors') %>: <%= test_authors(@test.authors) %>
<h3><%= t('.questions') %>:</h3>
<table>
  <tr>
    <th><%= t('.question') %></th>
    <th><%= t('.level') %></th>
    <th><%= t('.quantity_of_answers') %></th>
  </tr>
  <%= render @test.questions %>
</table>
<%= link_to t('.new_question'), new_admin_test_question_path(@test) %>
<br>
<%= render 'link_to_tests' %>
