<div class="dropdown sort-panel">
  <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="false" aria-expanded="false">
    <%= t('.sort') %>
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <button class="dropdown-item" type="button" sort-by="title-asc">
      <%= t('.sort_title_asc') %>
      <i class="fas fa-sort-alpha-down"></i>
    </button>
    <button class="dropdown-item" type="button" sort-by="title-desc">
      <%= t('.sort_title_desc') %> 
      <i class="fas fa-sort-alpha-up"></i>
    </button>
    <button class="dropdown-item" type="button" sort-by="level-asc">
      <%= t('.sort_level_asc') %>
      <i class="fas fa-sort-numeric-down"></i>
    </button>
    <button class="dropdown-item" type="button" sort-by="level-desc">
      <%= t('.sort_level_desc') %> 
      <i class="fas fa-sort-numeric-up"></i>
    </button>
  </div>
</div>
