<div class="col-md-4 text-xs-center" sortable-element>

  <div class="card mb-4 light-card">

    <div class="card-block">
      <p class="card-title" sort-by="title">
        <%= test.title %><br>
        <span class="text-muted"><small><%= test.category.title %></small></span>
      </p>
      <p class="card-text">
        <%= button_to t('.start_test'), start_test_path(test), class: "btn btn-outline-primary" %>
      </p>
    </div>

    <div class="card-footer text-muted p-1">
      <div class="d-flex justify-content-start">
        <div class="mr-auto p-1 text-left">
          <ul class="list-unstyled flex-md-row mb-0">
            <li class="nav-item">
              <small sort-by="level"><%= t('.test_level', test_level: test.level) %></small>
            </li>
            <li class="nav-item">
              <small><%= t('.question_count', question_count: test.questions.count) %></small>
            </li>
          </ul>
        </div>
        <div class="p-1 align-self-center">
          <span class="align-middle">
            <i class="fas fa-user"></i> <span sort-by="popularity"><%= test.users.count %></span>
          </span>
        </div>
      </div>
    </div>

  </div>

</div>
